*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

.title-section{
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}


#main-header{
    height: 100vh;
    background: url('./img/books-1835753_1920.jpg') no-repeat center center/cover;
}

#main-nav{
    /* height: ; */
    width: 100%;
}

.nav-container{
    padding: .75rem;
    background: rgba(255,255,255,.4);
    display: flex;
    /* flex-direction: row */
    align-items: center;
    justify-content: space-between;

}

.nav-logo{
    margin-left: 1rem;
}

.nav-container .nav-logo .logo{
    font-size: 2.5rem;
    /* padding: 1rem; */
    /* margin-left: 1rem; */
    transition: all .5s ease;
    cursor: pointer;
}

.nav-container .nav-logo .logo:hover{
    transform: scale(1.5);
}



.under-logo{
    font-size: 1rem;
    /* position: relative; */
    font-weight: 600;
    color: #333;
    /* transition: all .8s ease-in; */
}

.nav-list .nav-items{
    display: flex;
}

.nav-items .nav-item{
    margin-right: 1.5rem;
    font-weight: 700;
    transition: color .5s ease;
    font-size: 18px;
}

.nav-items .nav-item:hover{
    color: #000;
}

.hamburger{
    display: none;
}




/* Carousel Container  */

#main-body{
    max-width: 100%;
}


.carousel-container{
    max-width: 1500px;
    max-height: 900px;
    position: relative;
    margin: 1rem 0;
    padding: .25rem;
    /* padding: .5rem; */
    /* max-height: 100%; */

}

.carousel-container img{
    width: 100%;
    height: 500px;
    vertical-align: middle;
}

/* .carousel-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
} */


.container-text{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-text h1{
    color: #fff;
    font-size: 5rem;
}

.container-text .container-text-p{
    font-size: 1.5rem;
    color: #cccc;
}
.container-text .container-btn{
    margin-top: 1rem;
}

.btn{
    border: 0;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    padding: .75rem 1.25rem;
    color: #333;
    background-color: #cccc;
    font-family: 'Poppins' , sans-serif;
    transition: all .7s ease-in;
    cursor: pointer;
}

.btn:hover{
    background-color: #000;
    color: #fff;
}

.btn-long{
    padding: .75rem 2rem;
}

.prev-slide,.next-slide{
    position: absolute;
    top: 40%;
    font-size:2rem;
    padding: .5rem;
    transition: all 0.6s ease;
    cursor: pointer;
    color: #fff;
}

.prev-slide{
    left: 10px;
}

.next-slide{
    right: 10px;
    /* left: 0; */
}

.prev-slide:hover,.next-slide:hover{
    background-color: rgba(0,0,0,.5);
    border-radius: 5px;
}

.fade{
    animation: fade 1.5s;
}

@keyframes fade{
    from{opacity: 0.5;}
    to{opacity: 1;}
}


/* Teacher Container  */

.teacher-container{
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teacher-container .image-container{
    width: 250px;
    height: 250px;
    padding: 1rem;
}

.teacher-container .text-container{
    width: 500px;
    margin-left: 1.5rem;
    padding: 1rem;
}

.text-container h1{
    font-size: 1.5rem;
}

.text-container p{
    font-weight: 700;
    font-size: 1.2rem;
}

.intro-container{
    margin: 1rem 0 0 0;
}

.intro-container p{
    font-weight: 100;
    font-size: 1rem;
}

.image-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.footer-container{
    padding: .75rem 0;
    width: 100%;
    background-color: #333;
    color: #fff;
}

.footer-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container li{
    margin-left: 1.5rem;
}

.footer-container i{
    font-size: 1.5rem;
    transition: color .5s ease;
    cursor: pointer;
}

.footer-container i:hover{
    color: #ccc;
}


/* Navigation Mobile */

@media(max-width:700px){

    .title-section{
        padding: 1rem;
        margin: 0;
    }

    .nav-container{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        padding: .5rem;
    }

    .nav-container .hamburger{
        position: absolute;
        display: block;
        right: 10px;
        top: 20px;
        color: #000;
        font-size: 2rem;
    }

    .nav-container .nav-logo{margin-bottom: 1rem;
    margin-left: 0;}

    .nav-container .nav-logo .logo{
        font-size: 2rem;
        /* margin-bottom: 1rem; */
        cursor: pointer;
    }

    .nav-list{
        width: 100%;
    }

    .nav-list .nav-items{
        display: none;
        width: 100%;
        /* transition: all .5s ease; */
    }

    .nav-items.active{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* transition: all .5s ease; */
    }

    .nav-items li{
        margin-bottom: .5rem;
        padding: .5rem;
        width: 100%;
        border-bottom: 1px dashed #333;
    }
    
    .nav-items .nav-item{
        margin: 0;
        font-weight: 700;
        transition: color .5s ease;
    }
    
    .nav-items .nav-item:hover{
        color: #000;
    }


    /* Carousel Container  */

    .carousel-container{
        height: 200px;
        width: 100%;
    }
    .carousel-container img{
        height: 200px;
        width: 100%;
    }

    .prev-slide,.next-slide{
        font-size: 1.2rem;
    }

    .container-text{
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .container-text h1{
        font-size: 3rem;
    }
    
    .container-text .container-text-p{
        font-size: 1.5rem;
    }
    .container-text .container-btn{
        margin-top: .5rem;
    }
    
    .btn{
        font-size: 1rem;
        padding: .5rem 1rem;;
    }
    
    .btn:hover{
        background-color: #000;
        color: #fff;
    }
    
    .btn-long{
        padding: .75rem 2rem;
    }
    

    .teacher-container{
        width: 100%;
        padding: 1rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .teacher-container .image-container{
        width: 200px;
        height: 200px;
        padding: .5rem;
    }
    
    .teacher-container .text-container{
        width: 100%;
        margin: 0;
        padding: .5rem;
    }
    
    .text-container h1{
        font-size: 1.5rem;
    }
    
    .text-container p{
        font-weight: 600;
        font-size: 1rem;
    }
    
    .intro-container{
        margin: 1rem 0 0 0;
    }

    .intro-container p{
        font-weight: 100;
        font-size: 1rem;
    }


}